.links {
  top: -webkit-calc(50% - 250px);
  left: -webkit-calc(50% - 475px);  /* 452 to get it right next to the canvas*/
  display: flex;
  flex-direction: column;
}
.links a {
  text-align: center;
  border-radius: 3%;
  color: black;
  width: 150px;
  background-color: rgb(150,150,150);
  text-decoration: none;
  transition-duration: 0.4s;
  border: 1px solid rgb(50,50,50);
}
.links a:hover {
  transform: scale(1.2);
  background-color: rgb(0,220,0);
}
.links a:visited {
  color: black;
}
